.venv
Datasets/Aeolus/*
exp/Tab_exp/ablations/*/lightning_logs/*
exp/Tab_exp/ablations/*/model_checkpoints/*
exp/Tab_exp/lightning_logs/*
exp/Tab_exp/model_checkpoints/*
exp/Tab_exp/representation_bakeoff/artifacts/